/* diseño general */
.navbar-light .navbar-nav .nav-link {
    color: #f5f7fa;
}
div p{
    background-color: rgb(224, 229, 236);
}
div p:hover{
    background-color: rgb(209, 210, 212);
}
.row{
    text-align: center;
}
h2{
    background-color: rgb(160, 205, 245);
    font-size: 40px;
    text-shadow: 2px 3px grey;
    text-transform: uppercase;
    padding: 20px 15px;
}
h4{
    background-color: rgb(224, 229, 236);
    box-shadow: 2px 2px rgb(204, 203, 203);
}
img{
    width: 100%;
}
main div img:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px rgba(0,0, 0,5);
    transition: 1s;
} 
.logo{
    width: 100px;
}
#p1{
    height: 100%;
}
.t1 div{
    background-image: url(../imagenes/Solicitados.jpg);
}
/* diseño del index */
.ofertas{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.7)
    )
    ,url(../imagenes/ofrecidos.jpg) !important;
    background: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.solicitados{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../imagenes/Solicitados.jpg) !important;
    background: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.p-i{
    color: rgb(184, 180, 180);
    font-weight: bold;
}

h3{
    font-size: 40px;
}

.btn-primary{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0px 40px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0,0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.5);
}
.btn-primary:hover{
    background-color: blue;
}
/* diseño del footer */
footer{
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
footer p{
    text-decoration: none;
}
/* diseño de crear cuenta */
.crear-cuenta{
    background-color: azure;
    flex-direction: column !important;
}

/* diseño login (aun no logro centrar el login) */

@media screen and (max-width:720px){
    h2{
        background-color: rgb(160, 205, 245);
        font-size: 30px;
        text-shadow: 2px 3px grey;
        text-transform: uppercase;
        padding: 20px 15px;
    }
}